<!-- views/hazzulInstiz.ejs -->
<!doctype html>
<html>
<head>
    <title> 하즐 - 하루의 즐거움 <% if (currentPage > 1) { %> <%= currentPage %> <% } %></title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="naver-site-verification" content="8672f68ec19974757430dcc41aa887462bd2a8c5"/>
    <meta name="google-site-verification" content="UFlAZBpLslwZH5RF8Z4WSu6fiCM-MXNzOvcLsyDh2_Y" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content ="하즐">
    <meta name="title" content = "하즐 - 하루의 즐거움">
    <meta name='keyword' content="하즐, 하루, 즐거움, 짤, hazzul, 웃긴, 예능, 동영상, hazz, hazzu">
    <meta name="description" content="하루를 즐겁게 해줄 짤들과 동영상을 담은 플랫폼">
    <link rel='shortcut icon' href='/images/Favicon.ico' type='image/x-icon'/ >

    <!--call the css file -->
    <link rel='stylesheet' href='/css/hazzulMain.css'>

<script type="text/javascript">
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>
<script type="text/javascript">
var amountScrolled = 100;

$(window).scroll(function() {
  if ( $(window).scrollTop() > amountScrolled ) {
    $('a.back-to-top').fadeIn('slow');
  } else {
    $('a.back-to-top').fadeOut('slow');
  }
});
</script>

<script type="text/javascript">
$('a.back-to-top').click(function() {
  $('html, body').animate({
    scrollTop: 0
  }, 700);
  return false;
});
</script>

<script>
    var i = 0;
    function buttonClick() {
        i++;
        document.getElementById('inc').value = i;
    }
</script>
</head>

<script>

  $(document).ready(function() {
    var type = window.location.hash.slice(2);
    var myVar = <%- JSON.stringify(issuepostModels) %>;
 var idFound;

  if(type) {
   for(var x=0 ; x <myVar.length; x++){
    if(myVar[x]._id ==type){
      idFound=myVar[x]
    }
   }
   var modal = ''
        modal += '<div class="modal" id="indivModal" tabindex="-1" role="dialog"';
        modal += 'aria-labelledby="myModalLabel" aria-hidden="true">';
        modal += '<div class="modal-dialog modal-lg"><div class="modal-content">';
        modal += '<div class="modal-header"><button type="button" class="close" data-dismiss="modal" >&times;</button><h1 class="modal-title" ></h1></div>';


        modal += '<div class="modal-body"></div>'
        modal += '<div class="modal-footer"><div class="col-md-4"></div></div></div></div></div>';

        $('body').append(modal);

        var html = '';
        var htmltitle = '';
        var htmlcomment = '';


        htmltitle += '<img src="/images/Logo2.jpg" alt="HTML5 Icon" style="width:10%;height:auto;" ></a>&nbsp;&nbsp;<font align=left color=#F0F8FF>' + idFound.title + '</font>'

        var imgTotal = Object.keys(idFound.img_url).length-1;
        var videoTotal = Object.keys(idFound.video_url).length;
        var imgCommTotal = Object.keys(idFound.img_comment).length;
        var commTotal = Object.keys(idFound.comments).length;
        var userCommTotal = Object.keys(idFound.userComments).length;


        for( var x= 0; x < imgTotal; x++){

          html += '<img src="' + idFound.img_url[x] + '" class="img-responsive"/>';
        }

        html +='<br>'
        for( var x= 0; x < videoTotal; x++){

          html += '<div style="text-align:center"><iframe ="embed-responsive-item" src= "' + imgFound.video_url[x] + '" bgcolor="#000000" width="500" height="400"  align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></iframe></div>';
        }
        html += '<br>'

        for( var x= 0; x < imgCommTotal; x++){
          html += '<div class ="imgcomment"><font color ="#ffffff">' + myVar[a].img_comment[x] +'</font></div>';
        }

        html += '<br>'
        html += '<div style="text-align:center"><form name ="myForm" role="form" method="post" action="/' + myVar[a]._id + '/<%= currentPage %>/instizFavorite"><button type="submit" class="btn btn-primary btn-lg" >즐겨찾기</button></form></div>'
        html += '<br>'

        htmlcomment += '<form name ="myForm" role="form" method="post" action="/' + idFound._id + '/<%= pageCount %>/instiz"><textarea style="color: #2b303b" class="form-control" type = "text" name="userPost" placeholder="댓글 달아주세요" rows="5" id="comment" required></textarea><br><button type="submit" class="btn btn-danger btn-lg " style ="float:left"><i class="fa fa-edit"></i> 댓글 달기</button></form>';


        var totalcomm = commTotal + userCommTotal;
        htmlcomment += '<font size="5" color ="#ffffff">댓글' + ' ' + totalcomm + '</font>';
        htmlcomment += '<br><br><br>'

        for( var x= 0; x < commTotal; x++){
          htmlcomment += '<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="5" color="#F0F8FF">' + idFound.comments[x].content +'</b></div><br>';
        }


        for( var x= 0; x < userCommTotal; x++){
          htmlcomment += '<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="5" color="#F0F8FF">' + idFound.userComments[x].userPost +'</b></div><br>';
        }

        $('#indivModal .modal-title').html(htmltitle);
        $('#indivModal .modal-body').html(html);
        $('#indivModal .modal-footer').html(htmlcomment);

        $('#indivModal').modal('show')
      }

});

</script>
<script>

function getModalSorted(a){

var myVar = <%- JSON.stringify(issuepostModel) %>;

  var modal = '';
        modal += '<div class="modal" id="bsPhotoGalleryModal" tabindex="-1" role="dialog"';
        modal += 'aria-labelledby="myModalLabel" aria-hidden="true">';
        modal += '<div class="modal-dialog modal-lg"><div class="modal-content">';
        modal += '<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><h1 class="modal-title" ></h1></div>';


        modal += '<div class="modal-body"></div>'
        modal += '<div class="modal-footer"><div class="col-md-4"></div></div></div></div></div>';

        $('body').append(modal);

        var html = '';
        var htmltitle = '';
        var htmlcomment = '';

        htmltitle += '<img src="/images/Logo2.jpg" alt="HTML5 Icon" style="width:10%;height:auto;" ></a>&nbsp;&nbsp;<font align=left color=#F0F8FF>' + myVar[a].title + '</font>'
        var imgTotal = Object.keys(myVar[a].img_url).length-1;
        var videoTotal = Object.keys(myVar[a].video_url).length;
        var imgCommTotal = Object.keys(myVar[a].img_comment).length;
        var commTotal = Object.keys(myVar[a].comments).length;
        var userCommTotal = Object.keys(myVar[a].userComments).length;


        for( var x= 0; x < imgTotal; x++){

          html += '<img src="' + myVar[a].img_url[x] + '" class="img-responsive"/>';
        }

        html +='<br>'
        for( var x= 0; x < videoTotal; x++){

          html += '<div style="text-align:center"><iframe ="embed-responsive-item" src= "' + myVar[a].video_url[x] + '" bgcolor="#000000" width="500" height="400" name="NEXT4896413" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></iframe></div>';
        }
        html += '<br>'

        for( var x= 0; x < imgCommTotal; x++){
          html += '<div class ="imgcomment"><font color ="#ffffff">' + myVar[a].img_comment[x] +'</font></div>';
        }

        html += '<br>'
        html += '<div style="text-align:center"><form name ="myForm" role="form" method="post" action="/' + myVar[a]._id + '/<%= currentPage %>/instizFavorite"><button type="submit" class="btn btn-primary btn-lg" >즐겨찾기</button></form></div>'
        html += '<br>'


        htmlcomment += '<form name ="myForm" role="form" method="post" action="/' + myVar[a]._id + '/<%= currentPage %>/instiz"><textarea class="form-control" type = "text" name="userPost" placeholder="댓글 달아주세요" rows="5" id="comment" required></textarea><br><button type="submit" class="btn btn-danger btn-lg " style ="float:left"><i class="fa fa-edit"></i> 댓글 달기</button></form>';


        var totalcomm = commTotal + userCommTotal;
        htmlcomment += '<font size="5" color ="#ffffff">댓글' + ' ' + totalcomm + '</font>';
        htmlcomment += '<br><br><br>'

        for( var x= 0; x < commTotal; x++){
          htmlcomment += '<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="5" color="#F0F8FF">' + myVar[a].comments[x].content +'</b></div><br>';
        }


        for( var x= 0; x < userCommTotal; x++){
          htmlcomment += '<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="5" color="#F0F8FF">' + myVar[a].userComments[x].userPost +'</b></div><br>';
        }

        $('#bsPhotoGalleryModal .modal-title').html(htmltitle);
        $('#bsPhotoGalleryModal .modal-body').html(html);
        $('#bsPhotoGalleryModal .modal-footer').html(htmlcomment);



}





function getModal(a){

var myVar = <%- JSON.stringify(issuepostModels) %>;

  var modal = '';
        modal += '<div class="modal" id="bsPhotoGalleryModal" tabindex="-1" role="dialog"';
        modal += 'aria-labelledby="myModalLabel" aria-hidden="true">';
        modal += '<div class="modal-dialog modal-lg"><div class="modal-content">';
        modal += '<div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><h1 class="modal-title" ></h1></div>';


        modal += '<div class="modal-body"></div>'
        modal += '<div class="modal-footer"><div class="col-md-4"></div></div></div></div></div>';

        $('body').append(modal);

        var html = '';
        var htmltitle = '';
        var htmlcomment = '';

        htmltitle += '<img src="/images/Logo2.jpg" alt="HTML5 Icon" style="width:10%;height:auto;" ></a>&nbsp;&nbsp;<font align=left color=#F0F8FF>' + myVar[a].title + '</font>'
        var imgTotal = Object.keys(myVar[a].img_url).length-1;
        var videoTotal = Object.keys(myVar[a].video_url).length;
        var imgCommTotal = Object.keys(myVar[a].img_comment).length;
        var commTotal = Object.keys(myVar[a].comments).length;
        var userCommTotal = Object.keys(myVar[a].userComments).length;


        for( var x= 0; x < imgTotal; x++){

          html += '<img src="' + myVar[a].img_url[x] + '" class="img-responsive"/>';
        }

        html +='<br>'
        for( var x= 0; x < videoTotal; x++){

          html += '<div style="text-align:center"><iframe ="embed-responsive-item" src= "' + myVar[a].video_url[x] + '" bgcolor="#000000" width="500" height="400" name="NEXT4896413" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></iframe></div>';
        }
        html += '<br>'

        for( var x= 0; x < imgCommTotal; x++){
          html += '<div class ="imgcomment"><font color ="#ffffff">' + myVar[a].img_comment[x] +'</font></div>';
        }

        html += '<br>'
        html += '<div style="text-align:center"><form name ="myForm" role="form" method="post" action="/' + myVar[a]._id + '/<%= currentPage %>/instizFavorite"><button type="submit" class="btn btn-primary btn-lg" >즐겨찾기</button></form></div>'
        html += '<br>'


        htmlcomment += '<form name ="myForm" role="form" method="post" action="/' + myVar[a]._id + '/<%= currentPage %>/instiz"><textarea class="form-control" type = "text" name="userPost" placeholder="댓글 달아주세요" rows="5" id="comment" required></textarea><br><button type="submit" class="btn btn-danger btn-lg " style ="float:left"><i class="fa fa-edit"></i> 댓글 달기</button></form>';


        var totalcomm = commTotal + userCommTotal;
        htmlcomment += '<font size="5" color ="#ffffff">댓글' + ' ' + totalcomm + '</font>';
        htmlcomment += '<br><br><br>'

        for( var x= 0; x < commTotal; x++){
          htmlcomment += '<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="5" color="#F0F8FF">' + myVar[a].comments[x].content +'</b></div><br>';
        }


        for( var x= 0; x < userCommTotal; x++){
          htmlcomment += '<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="5" color="#F0F8FF">' + myVar[a].userComments[x].userPost +'</b></div><br>';
        }

        $('#bsPhotoGalleryModal .modal-title').html(htmltitle);
        $('#bsPhotoGalleryModal .modal-body').html(html);
        $('#bsPhotoGalleryModal .modal-footer').html(htmlcomment);

}
</script>


<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<nav class="navbar-inverse navbar-default" style=" background: #262626;">
  <div class="container">
    <ul class="nav navbar-top" >
		<div class="navbar-header">
			<button type="navbar-toggler" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand myLogo" href="/" >
                <img src="/images/Logo1.jpg">
            </a>
        </div>

      <div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<form class="navbar-form navbar-left" role="search" action="/" method="get">
					<input type="text" name="search" id="search" type="text" class="search-query form-control" placeholder="검색하기">
					<button id ="searchbutton" style=
						" border: none;
						bac kground: #e1e4ea;
						height: 40px;
						width: 40px;
						color: #4f5b66;
						border-radius: 5px;
						font-size: 10pt;" class="icon">
						<i class="fa fa-search"></i>
					</button>
				</form>

				<li>
					<a href="/login" class="btn btn-primary btn-sm" style="padding-top:5px; padding-bottom:5px; padding-left:10px; padding-right:10px; margin-top:10px" role="button">
						<font-color="#000000">Login</font>
					</a>
				</li>
				<li>
					<a href="/profile" class="btn btn-primary btn-sm" style="padding-top:5px; padding-bottom:5px; padding-left:10px; padding-right:10px; margin-top:10px" role="button">
						<font-color="#000000">Profile</font>
					</a>
				</li>
				<li>
					<a href ="" style="padding:15px;">
					<button style=
						" border: none; background: #222222;
						height: 20px;
						width: 20px;
						color: #4f5b66;
						opacity: none;
						padding:0px;
						font-size: 20pt;" class="icon">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
					</button>
					</a>
				</li>

			</ul>


			<nav class="navbar-default nav-bottom" style="background: #262626;">
				<ul class="nav navbar-nav">
					<li><a href="/"><font color="#fffff">하즐 베스트</a></font></li>
					<li><a href="#"><font color="#fffff">주간 베스트</a></font></li>
					<li><a href="/fmkorea"><font color="#fffff">#FM코리아</font></a></li>
					<li><a href="/dogdrip"><font color="#fffff">#DogDrip</font></a></li>
					<li><a href="/torrent"><font color="#fffff">#토렌트</font></a></li>
					<li><a href="/ygosu"><font color="#fffff">#와이고수</font></a></li>
					<li><a href="/blogspot"><font color="#fffff">#Blogspot</font></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<font color="#fffff">기타
							<span class="caret"></span></font>
						</a>
						<ul class="dropdown-menu" style=" background: #262626;">
							<li><h6 class="dropdown-header">기타 웹사이트</h6>
							<li><a href="/pann"><font color="#fffff">#네이트 판</font></a></li>
							<li><a href="/mhc"><font color="#fffff">#모해유머</font></a></li>
							<li><a href="/reple"><font color="#fffff">#댓글학원</font></a></li>
							<li><a href="/instiz"><font color="#fffff">#인스터즈</font></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#" data-toggle="modal" data-target="#aboutModal"><font color="#fffff">하즐이란?</font></a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
    </ul>
  </div>
</nav>


<script>
	jQuery(document).ready(function() {
		jQuery('.toggle-nav').click(function(e) {
			jQuery(this).toggleClass('active');
			jQuery('.menu ul').toggleClass('active');
			e.preventDefault();
		});
	});
	jQuery(".nav a").hover(function(){
		$(".nav").find(".active").removeClass("active");
		$(this).parent().addClass("active");
	});
</script>


<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="exampleModalLabel"><font color="#ffffff">하즐 소개</font></h3>
      </div>
      <div class="modal-body">
        <font color="#ffffff">하즐은 하루의 즐거움의 줄임말로서 이용자들에게 매일 재밌는 짤과 동영상을 제공해드립니다</font>
        <br><br>
        <div class="fb-share-button"  data-href="http://www.hazzul.com" data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">공유하기</a></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">창 닫기</button>
      </div>
    </div>
  </div>
</div>

</br>


  <div class="col-sm-12 col-md-12 affix-content">
    <div class="container">

           <!-- LOCAL INFORMATION -->
            <div class="row ">
            <div class ="text-center">


              <% for(var i = issuepostModels.length-1; i > -1 ; i--) { %>

                     <% if (i > 14 && i != 19) { %>

                       <a href ="/hazzul/<%= issuepostModels[i]._id %>" class="thumbnailHot" data-toggle="modal" data-target="#bsPhotoGalleryModal" style="text-decoration: none;" onclick= "getModal( <%= i %>)">

                        <img class="img-responsive" src="<%= issuepostModels[i].img_url[0] || issuepostModels[i].img_url[1] || issuepostModels[i].video_url[1] %>" alt="이미지 로딩중...">
                        <div class="caption">
                          <h5><%= issuepostModels[i].title %></h5>
                           <h7><span class="glyphicon glyphicon-comment"></span> &nbsp&nbsp<%=issuepostModels[i].userComments.length %></h7>&nbsp&nbsp
                           <h7><span class="glyphicon glyphicon-eye-open"></span> &nbsp&nbsp&nbsp<%= issuepostModels[i].myClicks  %></h7>&nbsp&nbsp

        				   </br></br>
        				   <p>
        						<span class="label label-danger" style="text-align: bottom; bottom: 20px;">실시간 인기글</span>
        						<span class="label label-primary" style="text-align: bottom; bottom: 20px;">#<%= issuepostModels[i].url  %></span>
        					</p>
                        </div>
                       </a>

                    <% } %>

                    <% if (i == 19) { %>

                      <a href ="/hazzul/<%= issuepostModels[i]._id %>" class="thumbnailBest" data-toggle="modal" data-target="#bsPhotoGalleryModal" style="text-decoration: none;" onclick= "getModal( <%= i %>)">

                        <img class="img-responsive" src="<%= issuepostModels[i].img_url[0] || issuepostModels[i].img_url[1] || issuepostModels[i].video_url[1] %>" alt="이미지 로딩중...">
                        <div class="caption">
                          <h5><%= issuepostModels[i].title %></h5>
                           <h7><span class="glyphicon glyphicon-comment"></span> &nbsp&nbsp<%=issuepostModels[i].userComments.length %></h7>&nbsp&nbsp
                           <h7><span class="glyphicon glyphicon-eye-open"></span> &nbsp&nbsp&nbsp<%= issuepostModels[i].myClicks  %></h7>&nbsp&nbsp

        				  </br></br>
        				   <p>
        						<span class="label label-success" style="text-align: bottom; bottom: 20px;">실시간 베스트</span>
        						<span class="label label-primary" style="text-align: bottom; bottom: 20px;">#<%= issuepostModels[i].url  %></span>
        					</p>
                        </div>
                        </a>
                    <% } %>

               <% }%>


        <% for(var i = issuepostModel.length-1; i > -1 ; i--) { %>
          <a href ="/hazzul/<%= issuepostModel[i]._id %>" class="thumbnail" data-toggle="modal" data-target="#bsPhotoGalleryModal" style="text-decoration: none;" onclick= "getModalSorted( <%= i %>)">

                        <img class="img-responsive" src="<%= issuepostModel[i].img_url[0] || issuepostModel[i].img_url[1] || issuepostModel[i].video_url[1] %>" alt="이미지 로딩중...">
                        <div class="caption">
                          <h5><%= issuepostModel[i].title %></h5>
                           <h7><span class="glyphicon glyphicon-comment"></span> &nbsp&nbsp<%=issuepostModel[i].userComments.length %></h7>&nbsp&nbsp
                           <h7><span class="glyphicon glyphicon-eye-open"></span> &nbsp&nbsp&nbsp<%= issuepostModel[i].myClicks  %></h7>&nbsp&nbsp
        				</br></br>
        				   <p>
        						<span class="label label-primary"><h7>#<%= issuepostModels[i].url  %></h7></span>
        					</p>
                        </div>
                        </a>

               <% } %>

               </div>


       </br></br>
        <% if (issuepostModels.length < 1) { %>
          <div class ="text-center">
          <h3><font size ="8" color ="#FFFFFF"> "<%= searchTitle %>"<font> <font size ="6" color ="#FFFFFF">검색 결과가 없습니다.. sorry<font></h3>
          <p><a href = "/"><button class="btn btn-danger" style ="center"> 하즐 홈페이지로 돌아가기</button></a></p>
          <div class="fb-share-button"  data-href="http://www.hazzul.com" data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">공유하기</a></div>
          </div>
       <% } %>
</div>

<a href="#" class="back-to-top">Back to Top</a>

<% if (pageCount > 1) { %>
<div class ="text-center pagelayout">
<ul class="pagination">
  <% if (currentPage > 1) { %>
      <li><a href="/instiz/?page=1">&laquo;</a></li>
  <% } %>
  <% var i = 1;
  if (currentPage > 3) {
  i = +currentPage - 2;
  } %>
  <% if (i !== 1) { %>
      <li class="disabled"><a href="#">...</a></li>
  <% } %>
  <% for (i; i<=pageCount; i++) { %>
    <% if (currentPage == i) { %>
        <li class="active" style="background: purple;" ><span style="background: #2b303b; border: 1px solid #2b303b;"><%= i %> <span class="sr-only">(current)</span></span></li>
    <% } else { %>
        <li><a href="/instiz/?page=<%= i %>"><%= i %></a></li>
    <% } %>
    <% if (i == (currentPage + 2)) { %>
        <li class="disabled"><a href="#">...</a></li>
    <% break; } %>
  <% } %>
  <% if (currentPage != pageCount) { %>
      <li><a href="/instiz/?page=<%= pageCount %>">&raquo;</a></li>
  <% } %>
</ul>
</div>
<% } %>

</div>
</div>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
var sc_project=10950271;
var sc_invisible=0;
var sc_security="b7184453";
var scJsHost = (("https:" == document.location.protocol) ?
"https://secure." : "http://www.");
document.write("<sc"+"ript type='text/javascript' src='" +
scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="website
statistics" href="http://statcounter.com/free-web-stats/"
target="_blank"><img class="statcounter"
src="//c.statcounter.com/10950271/0/b7184453/0/"
alt="website statistics"></a></div></noscript>
<!-- End of StatCounter Code for Default Guide -->

</body>
</html>
