<!doctype html>
<html>
<head>
<title> 하즐 - 하루의 즐거움 <% if (currentPage > 1) { %> <%= currentPage %> <% } %></title>
<link rel=stylesheet href=http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css>
<script src=https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js></script>
<script src=http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js></script>
<link href=//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css rel=stylesheet>
<meta http-equiv=Content-Type content="text/html; charset=utf-8"/>
<meta http-equiv=Content-Style-Type content=text/css />
<meta http-equiv=X-UA-Compatible content="IE=edge" />
<meta http-equiv=imagetoolbar content=no />
<meta name=naver-site-verification content="8672f68ec19974757430dcc41aa887462bd2a8c5"/>
<meta name=google-site-verification content=dj23_T0fknqVakUk-BB6mLki7imRrvEhQrS4D35d1_Y />
<meta name=viewport content="width=device-width, initial-scale=1">
<meta name=author content=하즐>
<meta name=title content="하즐 - 하루의 즐거움">
<meta name=keyword content="하즐, 하루, 즐거움, 짤, hazzul, 웃긴, 예능, 동영상, hazz, hazzu">
<meta name=description content="하루를 즐겁게 해줄 짤들과 동영상을 담은 플랫폼">
<link rel='shortcut icon' href=/images/Favicon.ico type='image/x-icon'/>
<link rel=stylesheet href=/css/hazzulMain.css>
</head>
<body>
<div id=fb-root></div>
<script>(function(e,a,f){var c,b=e.getElementsByTagName(a)[0];if(e.getElementById(f)){return}c=e.createElement(a);c.id=f;c.src="//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6";b.parentNode.insertBefore(c,b)}(document,"script","facebook-jssdk"));</script>
<div class="navbar navbar-inverse navbar-fixed-top">
<div class=container>
<div class=navbar-header>
<button button type=button class="navbar-toggle collapsed" data-toggle=collapse data-target=#navbar aria-expanded=false aria-controls=navbar>
<span class=sr-only>Toggle navigation</span>
<span class=icon-bar></span>
<span class=icon-bar></span>
<span class=icon-bar></span>
</button>
<a class="navbar-brand myLogo" href=/>
<img src=/images/Logo1.jpg>
</a>
</div>
<div id=navbar class="collapse navbar-collapse navbar-responsive-collapse">
<form class="navbar-form navbar-left" role=search action=/ method=get>
<input type=text name=search id=search type=text class="search-query form-control" class=form-control placeholder=검색하기>
<button id=searchbutton style=border:0;background:#e1e4ea;height:40px;width:40px;color:#4f5b66;border-radius:5px;font-size:10pt class=icon><i class="fa fa-search"></i></button>
</form>
<div class="navbar-form navbar-right">
<a href=https://www.facebook.com/Hazzzzul/><button style=border:0;background:#222;height:40px;width:40px;color:#4f5b66;opacity:none;font-size:20pt class=icon><i class="fa fa-facebook-square" aria-hidden=true></i></button></a>
<button data-toggle=modal data-target=#aboutModal style=border:0;background:#222;height:40px;width:40px;color:#4f5b66;opacity:none;font-size:20pt class=icon><i class="fa fa-question-circle" aria-hidden=true></i></button> &nbsp; &nbsp;
</div>
</div>
</div>
</div>
<div class="modal fade" id=aboutModal tabindex=-1 role=dialog aria-labelledby=aboutModalLabel>
<div class=modal-dialog role=document>
<div class=modal-content>
<div class=modal-header>
<button type=button class=close data-dismiss=modal aria-label=Close><span aria-hidden=true>&times;</span></button>
<h3 class=modal-title id=exampleModalLabel><font color=#ffffff>하즐 소개</font></h3>
</div>
<div class=modal-body>
<font color=#ffffff>하즐은 하루의 즐거움의 줄임말로서 이용자들에게 매일 재밌는 짤과 동영상을 제공해드립니다</font>
<br><br>
<div class=fb-share-button data-href=http://www.hazzul.com data-layout=button_count data-mobile-iframe=true><a class=fb-xfbml-parse-ignore target=_blank href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">공유하기</a></div>
</div>
<div class=modal-footer>
<button type=button class="btn btn-danger" data-dismiss=modal>창 닫기</button>
</div>
</div>
</div>
</div>
</br> </br> </br>
<div class="col-sm-12 col-md-12 affix-content">
<div class=container>
<div class=row>
<div class=text-center>
<% for(var i = issuepostModels.length-1; i > -1 ; i--) { %>
<% if (i > 14 && i != 19) { %>
<a href=/<%= issuepostModels[i]._id %> class=thumbnailHot data-toggle=modal data-target=#hazzulModal style=text-decoration:none onclick=getModal(<%= i %>)>
<img class=img-responsive src=<%= issuepostModels[i].img_url[0] || issuepostModels[i].img_url[1] %> alt="이미지 로딩중...">
<div class=text-center>
<h5><%= issuepostModels[i].title %></h5>
<h7><span class="glyphicon glyphicon-comment"></span> &nbsp&nbsp<%=issuepostModels[i].userComments.length + issuepostModels[i].comments.length  %></h7>&nbsp&nbsp
<h7><span class="glyphicon glyphicon-eye-open"></span> &nbsp&nbsp&nbsp<%= issuepostModels[i].numClicks +issuepostModels[i].usernumClicks  %></h7>&nbsp&nbsp
<b><span class="label label-danger">실시간 인기글 <i class="fa fa-star" aria-hidden=true></i></span></b>
</div>
</a>
<% } %>
<% if (i == 19) { %>
<a href=/<%= issuepostModels[i]._id %> class=thumbnailBest data-toggle=modal data-target=#hazzulModal style=text-decoration:none onclick=getModal(<%= i %>)>
<img class=img-responsive src=<%= issuepostModels[i].img_url[0] || issuepostModels[i].img_url[1]  %> alt="이미지 로딩중...">
<div class=text-center>
<h5><%= issuepostModels[i].title %></h5>
<h7><span class="glyphicon glyphicon-comment"></span> &nbsp&nbsp<%=issuepostModels[i].userComments.length + issuepostModels[i].comments.length  %></h7>&nbsp&nbsp
<h7><span class="glyphicon glyphicon-eye-open"></span> &nbsp&nbsp&nbsp<%= issuepostModels[i].numClicks +issuepostModels[i].usernumClicks  %></h7>&nbsp&nbsp
<b><span class="label label-success">실시간 베스트 <i class="fa fa-thumbs-up" aria-hidden=true></i></span></b>
</div>
</a>
<% } %>
<% }%>
<% for(var i = issuepostModel.length-1; i > -1 ; i--) { %>
<a href=/<%= issuepostModel[i]._id %> class=thumbnail data-toggle=modal data-target=#hazzulModal style=text-decoration:none onclick=getModalSorted(<%= i %>)>
<img class=object-fit_cover src=<%= issuepostModel[i].img_url[0] || issuepostModel[i].img_url[1]  %> alt="이미지 로딩중...">
<div class=text-center>
<h5><%= issuepostModel[i].title %></h5>
<h7><span class="glyphicon glyphicon-comment"></span> &nbsp&nbsp<%=issuepostModel[i].userComments.length + issuepostModel[i].comments.length  %></h7>&nbsp&nbsp
<h7><span class="glyphicon glyphicon-eye-open"></span> &nbsp&nbsp&nbsp<%= issuepostModel[i].numClicks +issuepostModel[i].usernumClicks  %></h7>&nbsp&nbsp
</div>
</a>
<% } %>
</div>
</br></br>
</div>
<a href=# class=back-to-top>Back to Top</a>
<% if (pageCount > 1) { %>
<div class="text-center pagelayout">
<ul class=pagination>
<% if (currentPage > 1) { %>
<li><a href="/?page=1">&laquo;</a></li>
<% } %>
<% var i = 1;
  if (currentPage > 3) {
  i = +currentPage - 2;
  } %>
<% if (i !== 1) { %>
<li class=disabled><a href=#>...</a></li>
<% } %>
<% for (i; i<=pageCount; i++) { %>
<% if (currentPage == i) { %>
<li class=active style=background:purple><span style="background:#2b303b;border:1px solid #2b303b"><%= i %> <span class=sr-only>(current)</span></span></li>
<% } else { %>
<li><a href="/?page=<%= i %>"><%= i %></a></li>
<% } %>
<% if (i == (currentPage + 2)) { %>
<li class=disabled><a href=#>...</a></li>
<% break; } %>
<% } %>
<% if (currentPage != pageCount) { %>
<li><a href="/?page=<%= pageCount %>">&raquo;</a></li>
<% } %>
</ul>
</div>
<% } %>
</div>
</div>
<script type=text/javascript>var sc_project=10950271;var sc_invisible=0;var sc_security="b7184453";var scJsHost=(("https:"==document.location.protocol)?"https://secure.":"http://www.");document.write("<script type='text/javascript' src='"+scJsHost+"statcounter.com/counter/counter.js'><\/script>");</script>
<noscript><div class=statcounter><a title="website
statistics" href=http://statcounter.com/free-web-stats/ target=_blank><img class=statcounter src=//c.statcounter.com/10950271/0/b7184453/0/ alt="website statistics"></a></div></noscript>
<script type=text/javascript>(function(d,e,j,h,f,c,b){d.GoogleAnalyticsObject=f;d[f]=d[f]||function(){(d[f].q=d[f].q||[]).push(arguments)},d[f].l=1*new Date();c=e.createElement(j),b=e.getElementsByTagName(j)[0];c.async=1;c.src=h;b.parentNode.insertBefore(c,b)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");ga("create","UA-90407049-1","auto");ga("send","pageview");$(document).ready(function(){var l=window.location.hash.slice(2);var p=<%- JSON.stringify(issuepostModels) %>;var h;if(l){for(var n=0;n<p.length;n++){if(p[n]._id==l){h=p[n]}}var o="";o+='<div class="modal" id="indivModal" tabindex="-1" role="dialog"';o+='aria-labelledby="myModalLabel" aria-hidden="true">';o+='<div class="modal-dialog modal-lg"><div class="modal-content">';o+='<div class="modal-header"><a href ="/"><button type="button" class="close" >&times;</button></a><h1 class="modal-title" ></h1></div>';o+='<div class="modal-body"></div>';o+='<div class="modal-footer"><div class="col-md-4"></div></div></div></div></div>';$("body").append(o);var j="";var f="";var k="";f+='<img src="/images/Logo2.jpg" alt="HTML5 Icon" style="width:10%;height:auto;" ></a>&nbsp;&nbsp;<font align=left color=#F0F8FF>'+h.title+"</font>";var g=Object.keys(h.img_url).length-1;var i=Object.keys(h.video_url).length;var m=Object.keys(h.img_comment).length;var b=Object.keys(h.comments).length;var e=Object.keys(h.userComments).length;for(var n=0;n<g;n++){j+='<img src="'+h.img_url[n]+'" class="img-responsive"/></br>'}j+="<br>";for(var n=0;n<i;n++){j+='<div style="text-align:center"><iframe ="embed-responsive-item" src= "'+p[a].video_url[n]+'" bgcolor="#000000" width="500" height="400"  align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></iframe></div>'}j+="<br>";for(var n=0;n<m;n++){j+='<div class ="imgcomment"><font color ="#ffffff">'+p[a].img_comment[n]+"</font></div>"}j+="<br>";j+='<div style="text-align:center"><a href ="/?page=<%= currentPage %>"><button type="button" class="btn btn-primary btn-lg" >포스트 닫기</button></a></div>';j+="<br>";k+='<form name ="myForm" role="form" method="post" action="/'+h._id+'/<%= pageCount %>/hazzul"><textarea style="color: #2b303b" class="form-control" type = "text" name="userPost" placeholder="댓글 달아주세요" rows="5" id="comment" required></textarea><br><button type="submit" class="btn btn-danger btn-lg " style ="float:left"><i class="fa fa-edit"></i> 댓글 달기</button></form>';var c=b+e;k+='<font size="5" color ="#ffffff">댓글 '+c+"</font>";k+="<br><br><br>";for(var n=0;n<b;n++){k+='<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="4" color="#F0F8FF">'+h.comments[n].content+"</b></div><br>"}for(var n=0;n<e;n++){k+='<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="4" color="#F0F8FF">'+h.userComments[n].userPost+"</b></div><br>"}$("#indivModal .modal-title").html(f);$("#indivModal .modal-body").html(j);$("#indivModal .modal-footer").html(k);$("#indivModal").modal("show")}});function getModalSorted(m){var o=<%- JSON.stringify(issuepostModel) %>;var n="";n+='<div class="modal" id="hazzulModal" tabindex="-1" role="dialog"';n+='aria-labelledby="myModalLabel" aria-hidden="true">';n+='<div class="modal-dialog modal-lg"><div class="modal-content">';n+='<div class="modal-header"><a href ="/"><button type="button" class="close" >&times;</button></a><h1 class="modal-title" ></h1></div>';n+='<div class="modal-body"></div>';n+='<div class="modal-footer"><div class="col-md-4"></div></div></div></div></div>';$("body").append(n);var h="";var e="";var i="";e+='<img src="/images/Logo2.jpg" alt="HTML5 Icon" style="width:10%;height:auto;" ></a>&nbsp;&nbsp;<font align=left color=#F0F8FF>'+o[m].title+"</font>";var f=Object.keys(o[m].img_url).length-1;var g=Object.keys(o[m].video_url).length;var k=Object.keys(o[m].img_comment).length;var b=Object.keys(o[m].comments).length;var d=Object.keys(o[m].userComments).length;for(var j=0;j<f;j++){h+='<img src="'+o[m].img_url[j]+'" class="img-responsive"/></br>'}h+="<br>";for(var j=0;j<g;j++){h+='<div style="text-align:center"><iframe ="embed-responsive-item" src= "'+o[m].video_url[j]+'" bgcolor="#000000" width="500" height="400" name="NEXT4896413" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></iframe></div>'}h+="<br>";for(var j=0;j<k;j++){h+='<div class ="imgcomment"><font color ="#ffffff">'+o[m].img_comment[j]+"</font></div>"}h+="<br>";h+='<div style="text-align:center"><a href ="/?page=<%= currentPage %>"><button type="button" class="btn btn-primary btn-lg" >포스트 닫기</button></a></div>';h+="<br>";i+='<form name ="myForm" role="form" method="post" action="/'+o[m]._id+'/<%= currentPage %>/hazzul"><textarea class="form-control" type = "text" name="userPost" placeholder="댓글 달아주세요" rows="5" id="comment" required></textarea><br><button type="submit" class="btn btn-danger btn-lg " style ="float:left"><i class="fa fa-edit"></i> 댓글 달기</button></form>';var c=b+d;i+='<font size="5" color ="#ffffff">댓글 '+c+"</font>";i+="<br><br><br>";for(var j=0;j<b;j++){i+='<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="4" color="#F0F8FF">'+o[m].comments[j].content+"</b></div><br>"}for(var j=0;j<d;j++){i+='<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="4" color="#F0F8FF">'+o[m].userComments[j].userPost+"</b></div><br>"}$("#hazzulModal .modal-title").html(e);$("#hazzulModal .modal-body").html(h);$("#hazzulModal .modal-footer").html(i)}function getModal(m){var o=<%- JSON.stringify(issuepostModels) %>;var n="";n+='<div class="modal" id="hazzulModal" tabindex="-1" role="dialog"';n+='aria-labelledby="myModalLabel" aria-hidden="true">';n+='<div class="modal-dialog modal-lg"><div class="modal-content">';n+='<div class="modal-header"><a href ="/"><button type="button" class="close" >&times;</button></a><h1 class="modal-title" ></h1></div>';n+='<div class="modal-body"></div>';n+='<div class="modal-footer"><div class="col-md-4"></div></div></div></div></div>';$("body").append(n);var h="";var e="";var i="";e+='<img src="/images/Logo2.jpg" alt="HTML5 Icon" style="width:10%;height:auto;" ></a>&nbsp;&nbsp;<font align=left color=#F0F8FF>'+o[m].title+"</font>";var f=Object.keys(o[m].img_url).length-1;var g=Object.keys(o[m].video_url).length;var l=Object.keys(o[m].img_comment).length;var b=Object.keys(o[m].comments).length;var d=Object.keys(o[m].userComments).length;for(var k=0;k<f;k++){h+='<img src="'+o[m].img_url[k]+'" class="img-responsive"/></br>'}h+="<br>";for(var k=0;k<g;k++){h+='<div style="text-align:center"><iframe ="embed-responsive-item" src= "'+o[m].video_url[k]+'" bgcolor="#000000" width="500" height="400" name="NEXT4896413" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash"></iframe></div>'}h+="<br>";for(var k=0;k<l;k++){h+='<div class ="imgcomment"><font color ="#ffffff">'+o[m].img_comment[k]+"</font></div>"}h+="<br>";h+='<div style="text-align:center"><a href ="/?page=<%= currentPage %>"><button type="button" class="btn btn-primary btn-lg" >포스트 닫기</button></a></div>';h+="<br>";i+='<form name ="myForm" role="form" method="post" action="/'+o[m]._id+'/<%= currentPage %>/hazzul"><textarea class="form-control" type = "text" name="userPost" placeholder="댓글 달아주세요" rows="5" id="comment" required></textarea><br><button type="submit" class="btn btn-danger btn-lg " style ="float:left"><i class="fa fa-edit"></i> 댓글 달기</button></form>';var c=b+d;i+='<font size="5" color ="#ffffff">댓글 '+c+"</font>";i+="<br><br><br>";for(var k=0;k<b;k++){i+='<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="4" color="#F0F8FF">'+o[m].comments[k].content+"</b></div><br>"}for(var k=0;k<d;k++){i+='<div class="text-left" ><img src="/images/Favicon.ico" style="width:30px;height:27px;">&nbsp<b><font size ="4" color="#F0F8FF">'+o[m].userComments[k].userPost+"</b></div><br>"}$("#hazzulModal .modal-title").html(e);$("#hazzulModal .modal-body").html(h);$("#hazzulModal .modal-footer").html(i)}$(window).load(function(){$('a[data-toggle="modal"]').click(function(){window.location.hash=$(this).attr("href")});$(window.location.hash).modal("show")});</script>
</body>
</html>
