  <!doctype html>
<html>
<head>
    <title><%= issuepostModel.title %> -하즐 </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="naver-site-verification" content="8672f68ec19974757430dcc41aa887462bd2a8c5"/>
    <meta name="google-site-verification" content="UFlAZBpLslwZH5RF8Z4WSu6fiCM-MXNzOvcLsyDh2_Y" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name='keyword' content="하루, 즐거움, 짤, hazzul, 웃긴, 미드, 예능, 드라마, 아는 형님">
     <meta name="description" content="하루를 유쾌하게 보낼 수 있게 짤과 예능 드라마, 미드가 모여있는 플랫폼">
    <link rel='stylesheet' href='/css/individualHazzulMain.css'>
</head>

<body>

 <div class="col-sm-12 col-md-12 affix-content">
    <div class="container">
      
    <header>
      <h2><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;<%= issuepostModel.title %></h2>
    </header>
    </br>
      <nav class="navbar navbar-default navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><font color ="#FFFFFF">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/about"><b>하즐 소개</b></a>
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/usdrama"><b>미드</b></a>   
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/entertain"><b>예능/오락</b></a> 
        <a class="btn btn-default btn-outline btn-circle collapsed" href="/drama"><b>방영 드라마</b></a>    
        </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav></br>
    <div class ="thumbnail">
    </br>
        <font color = "#101010 ">
        <%= issuepostModel.title %> 동영상</br>

        *첫 동영상 버튼은 영상버튼이 아닌 영상 관련된 페이지로 연결 될 수 있습니다
        </font>
        </br></br>
         <% for( var i = 0; i < issuepostModel.video_url.length; i++ ) { %> 
          <a href = " <%= issuepostModel.video_url[i] %>"><button class="btn btn-success"><span class ="glyphicon glyphicon-play-circle"> #<%= i +1 %> 동영상 <span></button></a>
           </br>
            <% } %>  </br>  
    </div>
    </div></div>


 <div class="container">
<div class="row">
<div class="col-sm-12">
<div class="comments-list">

<div class="panel panel-primary" >
<div class="panel-heading"><font size = "5">댓글 달기</font></div>
        <div class ="panel-body">
<form role="form" method="post" action="/<%= issuepostModel.id %>/post/daily"> <!--This was the main issue!! get the id of the postmodel and pass it when I post something-->
    <div class="form-group">
      <textarea class="form-control" type = "text" name="userPost" placeholder="댓글 달아주세요" rows="3" id="comment"></textarea>
    </div>
    <button type="submit" class="btn btn-info" style ="float:right">댓글 달기</button>
  </form>
        </div>
  </div>

<div class="panel panel-primary">
<div class="panel-heading"><font size = "5">댓글 <%= issuepostModel.userComments.length %></font></div>
  <div class="panel-body">
    
  <% for( var i = 0; i < issuepostModel.userComments.length; i++ ) { %>
  <div class ="media">
            <p><font size ="5" color = "#FFFFFF"><%= issuepostModel.userComments[issuepostModel.userComments.length-i-1].userPost %></font></p>
</div>
<% }%>
     

</div>
</div>
            
</div>
</div>
</div>               
</div>
</br>   
                    
       
</body>

</html>