<<<<<<< HEAD
<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="naver-site-verification" content="8672f68ec19974757430dcc41aa887462bd2a8c5"/>
    <meta name="google-site-verification" content="UFlAZBpLslwZH5RF8Z4WSu6fiCM-MXNzOvcLsyDh2_Y" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content ="하즐">
    <meta name="title" content = "하즐 - 하루의 즐거움">
    <meta name='keyword' content="하즐, 하루, 즐거움, 짤, hazzul, 웃긴, 예능, 동영상, hazz, hazzu">
    <meta name="description" content="하루를 즐겁게 해줄 짤들과 동영상을 담은 플랫폼">
    <link rel='shortcut icon' href='/images/Favicon.ico' type='image/x-icon'/ >

    <!--call the css file -->
    <link rel='stylesheet' href='/css/hazzulMain.css'>

<script type="text/javascript">
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>
<script type="text/javascript">
var amountScrolled = 100;

$(window).scroll(function() {
  if ( $(window).scrollTop() > amountScrolled ) {
    $('a.back-to-top').fadeIn('slow');
  } else {
    $('a.back-to-top').fadeOut('slow');
  }
});
</script>

<script type="text/javascript">
$('a.back-to-top').click(function() {
  $('html, body').animate({
    scrollTop: 0
  }, 700);
  return false;
});
</script>

<script>
    var i = 0;
    function buttonClick() {
        i++;
        document.getElementById('inc').value = i;
    }
</script>
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<nav class="navbar-inverse navbar-default" style=" background: #262626;">
  <div class="container">
    <ul class="nav navbar-top" >
		<div class="navbar-header">
			<button type="navbar-toggler" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand myLogo" href="/" >
                <img src="/images/Logo1.jpg">
            </a>
        </div>

      <div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<form class="navbar-form navbar-left" role="search" action="/" method="get">
					<input type="text" name="search" id="search" type="text" class="search-query form-control" placeholder="검색하기">
					<button id ="searchbutton" style=
						" border: none;
						bac kground: #e1e4ea;
						height: 40px;
						width: 40px;
						color: #4f5b66;
						border-radius: 5px;
						font-size: 10pt;" class="icon">
						<i class="fa fa-search"></i>
					</button>
				</form>

				<ul class="nav navbar-nav" style="float: left">
					<li>
						<a href="/login" class="btn btn-primary btn-sm" style="margin-top: 13px; padding: 5px; padding-left: 10px; padding-right: 10px;" role="button">
							<font-color="#000000">Login</font>
						</a>
					</li>
				</ul>

				<div class="navbar-form navbar-left" >
					<a href ="">
					<button style=
						" border: none; background: #222222;
						height: 40px;
						width: 40px;
						color: #4f5b66;
						opacity: none;
						font-size: 20pt;" class="icon">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
					</button></a>
				</div>

			</ul>


			<nav class="navbar-default nav-bottom" style="background: #262626;">
				<ul class="nav navbar-nav">
					<li><a href="/"><font color="#fffff">하즐 베스트</a></font></li>
					<li><a href="#"><font color="#fffff">주간 베스트</a></font></li>
					<li><a href="/fmkorea"><font color="#fffff">#FM코리아</font></a></li>
					<li><a href="/dogdrip"><font color="#fffff">#DogDrip</font></a></li>
					<li><a href="/torrent"><font color="#fffff">#토렌트</font></a></li>
					<li><a href="/ygosu"><font color="#fffff">#와이고수</font></a></li>
					<li><a href="/blogspot"><font color="#fffff">#Blogspot</font></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<font color="#fffff">기타
							<span class="caret"></span></font>
						</a>
						<ul class="dropdown-menu" style=" background: #262626;">
							<li><h6 class="dropdown-header">다운로드</h6>
							<li><a href="/files/하즐.apk"><font color="#fffff">안드로이드</font></a></li>
							<li><a href="#"><font color="#fffff">애플</font></a></li>
							<li role="separator" class="divider"></li>
							<li><h6 class="dropdown-header">기타 웹사이트</h6>
							<li><a href="/pann"><font color="#fffff">#네이트 판</font></a></li>
							<li><a href="mhc"><font color="#fffff">#모해유머</font></a></li>
							<li><a href="/reple"><font color="#fffff">#댓글학원</font></a></li>
							<li><a href="/instiz"><font color="#fffff">#인스터즈</font></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#" data-toggle="modal" data-target="#aboutModal"><font color="#fffff">하즐이란?</font></a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
    </ul>
  </div>
</nav>


<script>
	jQuery(document).ready(function() {
		jQuery('.toggle-nav').click(function(e) {
			jQuery(this).toggleClass('active');
			jQuery('.menu ul').toggleClass('active');
			e.preventDefault();
		});
	});
	jQuery(".nav a").hover(function(){
		$(".nav").find(".active").removeClass("active");
		$(this).parent().addClass("active");
	});
</script>


<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="exampleModalLabel"><font color="#ffffff">하즐 소개</font></h3>
      </div>
      <div class="modal-body">
        <font color="#ffffff">하즐은 하루의 즐거움의 줄임말로서 이용자들에게 매일 재밌는 짤과 동영상을 제공해드립니다</font>
        <br><br>
        <div class="fb-share-button"  data-href="http://www.hazzul.com" data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">공유하기</a></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">창 닫기</button>
      </div>
    </div>
  </div>
</div>

</br>

  <div class="col-sm-12 col-md-12 affix-content">
	<div class="container" style="width: 700px">
		<h1><span class="fa fa-anchor"></span><font color="#ffffff">Profile Page</font></h1>
		</br></br>

	<div class="row">
		<!-- LOCAL INFORMATION -->

			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
					<p>
						<strong>Email</strong>: <%= user.local.email %><br>
					</p>
					<p>
						<strong>Favorites</strong>: <br>

						<% for(var i = user.local.favorite.length-1; i > -1 ; i--) { %>
								<a href='/?search=<%= user.local.favorite[i] %>'><%= user.local.favorite[i] %></a><br>
						<% } %>

					</p>
			</div>

	</div>
	<div class="text-center">
		<a href="/logout" class="btn btn-primary btn-ms">Logout</a>
		<a href="/" class="btn btn-primary btn-ms">Home</a>
	</div>
</div>
</div>
</body>
</html>
=======
<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="naver-site-verification" content="8672f68ec19974757430dcc41aa887462bd2a8c5"/>
    <meta name="google-site-verification" content="UFlAZBpLslwZH5RF8Z4WSu6fiCM-MXNzOvcLsyDh2_Y" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content ="하즐">
    <meta name="title" content = "하즐 - 하루의 즐거움">
    <meta name='keyword' content="하즐, 하루, 즐거움, 짤, hazzul, 웃긴, 예능, 동영상, hazz, hazzu">
    <meta name="description" content="하루를 즐겁게 해줄 짤들과 동영상을 담은 플랫폼">
    <link rel='shortcut icon' href='/images/Favicon.ico' type='image/x-icon'/ >

    <!--call the css file -->
    <link rel='stylesheet' href='/css/hazzulMain.css'>

<script type="text/javascript">
  $('body').prepend('<a href="#" class="back-to-top">Back to Top</a>');
</script>
<script type="text/javascript">
var amountScrolled = 100;

$(window).scroll(function() {
  if ( $(window).scrollTop() > amountScrolled ) {
    $('a.back-to-top').fadeIn('slow');
  } else {
    $('a.back-to-top').fadeOut('slow');
  }
});
</script>

<script type="text/javascript">
$('a.back-to-top').click(function() {
  $('html, body').animate({
    scrollTop: 0
  }, 700);
  return false;
});
</script>

<script>
    var i = 0;
    function buttonClick() {
        i++;
        document.getElementById('inc').value = i;
    }
</script>
</head>

<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<nav class="navbar-inverse navbar-default" style=" background: #262626;">
  <div class="container">
    <ul class="nav navbar-top" >
		<div class="navbar-header">
			<button type="navbar-toggler" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <a class="navbar-brand myLogo" href="/" >
                <img src="/images/Logo1.jpg">
            </a>
        </div>

      <div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
				<form class="navbar-form navbar-left" role="search" action="/" method="get">
					<input type="text" name="search" id="search" type="text" class="search-query form-control" placeholder="검색하기">
					<button id ="searchbutton" style=
						" border: none;
						bac kground: #e1e4ea;
						height: 40px;
						width: 40px;
						color: #4f5b66;
						border-radius: 5px;
						font-size: 10pt;" class="icon">
						<i class="fa fa-search"></i>
					</button>
				</form>

				<ul class="nav navbar-nav" style="float: left">
					<li>
						<a href="/login" class="btn btn-primary btn-sm" style="margin-top: 13px; padding: 5px; padding-left: 10px; padding-right: 10px;" role="button">
							<font-color="#000000">Login</font>
						</a>
					</li>
				</ul>

				<div class="navbar-form navbar-left" >
					<a href ="">
					<button style=
						" border: none; background: #222222;
						height: 40px;
						width: 40px;
						color: #4f5b66;
						opacity: none;
						font-size: 20pt;" class="icon">
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
					</button></a>
				</div>

			</ul>


			<nav class="navbar-default nav-bottom" style="background: #262626;">
				<ul class="nav navbar-nav">
					<li><a href="/"><font color="#fffff">하즐 베스트</a></font></li>
					<li><a href="#"><font color="#fffff">주간 베스트</a></font></li>
					<li><a href="/fmkorea"><font color="#fffff">#FM코리아</font></a></li>
					<li><a href="/dogdrip"><font color="#fffff">#DogDrip</font></a></li>
					<li><a href="/torrent"><font color="#fffff">#토렌트</font></a></li>
					<li><a href="/ygosu"><font color="#fffff">#와이고수</font></a></li>
					<li><a href="/blogspot"><font color="#fffff">#Blogspot</font></a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<font color="#fffff">기타
							<span class="caret"></span></font>
						</a>
						<ul class="dropdown-menu" style=" background: #262626;">
							<li><h6 class="dropdown-header">다운로드</h6>
							<li><a href="/files/하즐.apk"><font color="#fffff">안드로이드</font></a></li>
							<li><a href="#"><font color="#fffff">애플</font></a></li>
							<li role="separator" class="divider"></li>
							<li><h6 class="dropdown-header">기타 웹사이트</h6>
							<li><a href="/pann"><font color="#fffff">#네이트 판</font></a></li>
							<li><a href="mhc"><font color="#fffff">#모해유머</font></a></li>
							<li><a href="/reple"><font color="#fffff">#댓글학원</font></a></li>
							<li><a href="/instiz"><font color="#fffff">#인스터즈</font></a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#" data-toggle="modal" data-target="#aboutModal"><font color="#fffff">하즐이란?</font></a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
    </ul>
  </div>
</nav>


<script>
	jQuery(document).ready(function() {
		jQuery('.toggle-nav').click(function(e) {
			jQuery(this).toggleClass('active');
			jQuery('.menu ul').toggleClass('active');
			e.preventDefault();
		});
	});
	jQuery(".nav a").hover(function(){
		$(".nav").find(".active").removeClass("active");
		$(this).parent().addClass("active");
	});
</script>


<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="exampleModalLabel"><font color="#ffffff">하즐 소개</font></h3>
      </div>
      <div class="modal-body">
        <font color="#ffffff">하즐은 하루의 즐거움의 줄임말로서 이용자들에게 매일 재밌는 짤과 동영상을 제공해드립니다</font>
        <br><br>
        <div class="fb-share-button"  data-href="http://www.hazzul.com" data-layout="button_count" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">공유하기</a></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">창 닫기</button>
      </div>
    </div>
  </div>
</div>

</br>

  <div class="col-sm-12 col-md-12 affix-content">
	<div class="container" style="width: 700px">
		<h1><span class="fa fa-anchor"></span><font color="#ffffff">Profile Page</font></h1>
		</br></br>

	<div class="row">
		<!-- LOCAL INFORMATION -->

			<div class="well">
				<h3><span class="fa fa-user"></span> Local</h3>
					<p>
						<strong>Email</strong>: <%= user.local.email %><br>
					</p>
					<p>
						<strong>Favorites</strong>: <br>

						<% for(var i = user.local.favorite.length-1; i > -1 ; i--) { %>
								<a href='/?search=<%= user.local.favorite[i] %>'><%= user.local.favorite[i] %></a><br>
						<% } %>

					</p>
			</div>

	</div>
	<div class="text-center">
		<a href="/logout" class="btn btn-primary btn-ms">Logout</a>
		<a href="/" class="btn btn-primary btn-ms">Home</a>
	</div>
</div>
</div>
</body>
</html>
>>>>>>> 66c4241289e205379b600adc4c995f0c7e47e79a
